{
    "Resources": {
        "NagiosServer": {
            "Type" : "AWS::EC2::Instance",
            "Properties" : {
                "AvailabilityZone" : "{{ availability_zone }}",
                "ImageId" : "{{ ubuntu_ec2_image }}",
                "InstanceType" : "{{ instance_type }}",
                "KeyName" : "{{ key_pair_name }}"
            }
        },
        "NagiosHost": {
            "Type" : "AWS::EC2::Instance",
            "Properties" : {
              "AvailabilityZone" : "{{ availability_zone }}",
              "ImageId" : "{{ ubuntu_ec2_image }}",
              "InstanceType" : "{{ instance_type }}",
              "KeyName" : "{{ key_pair_name }}"
            }
        }
    }
}
